// COLORS
$colorBluePrimary: #0a79df;
$colorBlueLight: #3498db;
$colorBlueDark: #2475b0;

$colorYellow: #ffb900;
$colorOrange: #ff7730;
$colorRed: #b73427;

$colorGreyLight1: #f7f7f7;
$colorGreyLight2: #eee;
$colorGreyDark1: #777;
$colorGreyDark2: #282828;

$colorWhite: #fff;
$colorBlack: #000;

// FONT
$fsDefault: 1.6rem;
$fsLarge: 2.4rem;
$fsSmall: 1.4rem;
$fsSmall2: 1.2rem;
